<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список магазинов</title>
</head>
<body>
{% extends 'b2.html' %}
{% block content %}
<h1>Список магазинов</h1>
<p><a href="https://robototehnika.ru/">РОБОТОТЕХНИКА</a></p>
<p><a href="https://robotbaza.ru/">ROBOTOBAZA</a></p>
<p><a href="https://www.myrobotics.ru/collection/robotrek">MYROBOTICS</a></p>
<p><a href="https://smartelements.ru/collection/nabory?utm_source=yandex&utm_medium=cpc&utm_campaign=38566578&utm_content=6570914926&utm_term=магазин%20робототехники&_openstat=ZGlyZWN0LnlhbmRleC5ydTszODU2NjU3ODs2NTcwOTE0OTI2O3lhbmRleC5ydTpndWFyYW50ZWU&yclid=2765269042465627602">SmartElements</a></p>
<p><a href="http://matatalab.pro/?yclid=2765299316212923140">Matalab</a></p>
{% endblock content %}
</body>
</html>